* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.pos-fixed{
    position: fixed;
}
.top-left-0{
    top: 0;
    left: 0;
}
.w-100{
    width: 100vw;
}
#gameOver{
    background-color: #ac9125ee;
    display: none;
    height: 100vh;
}
.gameOvermsg{
    font-size: 20vmin;
}
.restartbtn{
    background-color: rgb(0, 40, 7);
    color: rgb(210, 210, 210);
    padding: 5px 10px;
    border-radius: 5px;
}
#score{
    font-size: 10vmin;
    position: fixed;
    top:0;
    right: 10px;
    color: rgb(255, 255, 255);
}
#pause{
    background-color: rgb(47, 207, 108);
    color: rgb(56, 56, 56);
    width: max-content;
    position: fixed;
    top: 1vmin;
    left: 1vmin;
    padding: 2vmin;
    border-radius: 1vmin;
}

#bg-main{
    background-color: #376F48;
}
canvas{
    border: 1px solid #2b2201ee;
}
#speedControl{
    background-color: brown;
    color: aliceblue;
    padding: 2vmin;
    width: max-content;
    position: fixed;
    top: 10vmin;
    left: 0;
}